schemaFile: ./schema/spanner-schema.yaml
expectedData: ./expected/initial-data.yaml
database:
  projectId: your-project-id
  instanceId: your-instance-id
  database: your-database-name
spalidate:
  command: spalidate
  args:
    - --project
    - "{projectId}"
    - --instance
    - "{instanceId}"
    - --database
    - "{databaseName}"
    - "{expectedFile}"
